button {
    height:100px;
    width: 300px;
    margin: 30px;
    font-size: 25px;
    cursor: pointer;
}

a {
    text-align: center;
}

img {
    height: 70px;
}

body {
    text-align: center;
    background-color: bisque;
}

#lienVersChaine {
    text-decoration: none;
    color: black;
    font-weight: bold;
    font-size: 35px;
}

#divlienVersChaine {
    margin-top: 20px;
}

