body {
    background-color: bisque;
}


.center {
    text-align: center;
    margin-top: 40px;
}

#fleche {
    height: 10px;
    position: absolute;
    top: 43.2%;
    z-index: 5;
}


#roulette {
    margin: 60px 0px;
    display: inline;
}

#roue {
    transition:all 2s;
    transform: rotate(0deg);
}

#roll {
    font-size: 40px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    height: 70px;
    width: 120px;
    margin-top: 30px;
    cursor: pointer;
}

#balanc {
    text-align: right;
}

#balance {
    text-align: center;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    height: 50px;
    width: 300px;
    border-radius: 10px;
    display: inline-block;
    background-color: black;
    color: white
}